.head{
	width: 100vw;
	height: 88rpx;background: #FFFFFF;
	position: fixed;top: 0;left: 0;z-index: 999;
	display: flex;align-items: center;justify-content: center;
	font-size: 34rpx;
	font-weight: bold;
	color: #333333;
}
.back{
	width: 88rpx;height: 88rpx;display: flex;align-items: center;justify-content: center;
	position: absolute;bottom: 0;left: 0;
}
.back_pic{
	width: 16rpx;height: 30rpx;
}
.main .main_box:first-child{
	border: none;
}
.main_box{
	width: calc(100vw - 60rpx);
	background: #FFFFFF;
	border-top: 1rpx solid rgba(0,0,0,0.12);
	padding: 40rpx 0rpx 30rpx 0rpx;
	margin: 0 30rpx;
}
.main_head_l{
	font-size: 32rpx;
	font-weight: 500;
	color: #333333;
}
.main_head_r{
	font-size: 26rpx;
	font-weight: 400;
	color: #999999;
}
.main_head{
	display: flex;align-items: center;justify-content: space-between;
}
.main_con{
	font-size: 26rpx;
	font-weight: 500;
	color: #999999;
	margin-top: 20rpx;
	line-height: 42rpx;
}
.mainbav_box{
	height: 182rpx;
}
.mainbav_boxs,.mainbav_box{
	display: flex;align-items: center;justify-content: space-between;
}
.mainbav_boxs{
	height: 105rpx;
}
.mainbav_tit{
	font-size: 32rpx;
	font-weight: 500;
	color: #333333;
}
.mainbav_rpic{
	width: 14rpx;height: 24rpx;margin-left: 18rpx;
}
.mainbav_head{
	width: 100rpx;height: 100rpx;border-radius: 50%;overflow: hidden;
}
.mainbav{
	margin-top: 16rpx;padding: 0 30rpx;background: #FFFFFF;
}
.mainbav_r{
	display: flex;align-items: center;
}
.mainbav .mainbav_box:first-child{
	border-bottom: 1rpx solid rgba(0,0,0,0.12);
}
.mainbav_ht{
	font-size: 26rpx;
	font-weight: 500;
	color: #999999;
}
.fixed{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.3);
	display: flex;align-items: center;justify-content: center;
	position: fixed;
	top: 0;left: 0;z-index: 1000;
}
.fixed_box{
	width: 520rpx;
	background: #FFFFFF;
	border-radius: 30rpx;
}
.fixed_title{
	font-size: 30rpx;
	font-weight: bold;
	color: #333333;
	line-height: 46rpx;
	padding: 60rpx 34rpx;
	text-align: center;
}
.fixed_btn{
	display: flex;align-items: center;justify-content: space-between;
	border-top: 1rpx solid rgba(0,0,0,0.12);height: 78rpx;
}
.fixed_btn view{
	width: 50%;
	height: 100%;
	display: flex;align-items: center;
	justify-content: center;
	font-size: 28rpx;
	font-weight: bold;
}
.fixed_l{
	color: #999999;
	margin-left: -1rpx;
	border-right: 1rpx solid rgba(0,0,0,0.12);
}
.fixed_r{
	color: #33B5FF;
}
.fixed_nav{
	font-size: 32rpx;
	font-weight: bold;
	color: #333333;
	padding-top: 50rpx;
	text-align: center;
}
.fixed_box input{
	width: 400rpx;
	height: 62rpx;
	background: #FFFFFF;
	border: 1rpx solid #999999;
	border-radius: 12rpx;
	margin: 40rpx auto;
	font-size: 26rpx;
	font-weight: 500;
	color: #333333;
	padding: 0 25rpx;
}
.inpt{
	color: #666666;
}